@media screen and (max-width: 767px) {
    .wrapper {
        max-width: none;
    }

    .header_logo {
        width: 50%;
    }

    .header_nav {
        display: none;
    }

    .header_menu {
        width: 50%;
        display: flex;
    }

    .unvisible {
        display: none;
    }

    /*----------index----------*/
    .content_index {
        flex-direction: column;
        align-items: center;
        padding: 85px 0 20px 0;
        row-gap: 15px;
    }

    .user_card {
        width: 90%;
        height: 60px;
        flex-direction: row;
        padding: 5%;
    }

    .user_title {
        text-align: left;
    }


    /*----------details----------*/
    .content_details {
        flex-direction: column;
        align-items: center;
        padding: 85px 0 20px 0;
        row-gap: 15px;
    }

    .user_details {
        width: 90%;
        padding: 15px 20px;
    }

    .details_list > li {
        margin: 5px 0;
    }

    .list_template {
        width: 100%;
        padding: 10px;
    }

    .details_post {
        width: 90%;
        padding: 15px 20px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .post_card {
        width: 100%;
        height: 80px;
        flex-direction: row;
        padding: 5%;
    }

    .post_title_card {
        text-align: left;
    }
    /*----------post----------*/
    .content_post {
        padding: 85px 0 20px 0;
    }
    .post_details {
        width: 90%;
        padding: 15px 20px;
    }
}